.config/micro/buffers/*
.config/micro/backups/ 
.config/micro/buffers/history
.secrets
.newsboat/cache.db
.newsboat/cache.db.lock
.config/scripts/test.sh
.local/bin/pyi-archive_viewer                                                           
.local/bin/pyi-bindepend
.local/bin/pyi-grab_version
.local/bin/pyi-makespec
.local/bin/pyi-set_version
.local/bin/pyinstaller
