[user]
	name = Alex Haskins
	email = 43792895+datavikingr@users.noreply.github.com
[core]
	pager = 
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[pull]
	ff = only
