.config/micro/buffers/*
.config/micro/backups/ 
.config/micro/buffers/history
.secrets
.newsboat/cache.db
.newsboat/cache.db.lock
.config/scripts/test.sh
.local/bin/pyi-archive_viewer                                                           
.local/bin/pyi-bindepend
.local/bin/pyi-grab_version
.local/bin/pyi-makespec
.local/bin/pyi-set_version
.local/bin/pyinstaller
.newsboat/cache.db
.config/godot/editor_settings*
.local/bin/soloterm
.config/ranger/colorschemes/__pycache__/__init__.cpython-314.opt-1.pyc
.config/ranger/colorschemes/__pycache__/kitty_catppuccin.cpython-314.opt-1.pyc
.config/Thunar/accels.scm

