* {
	background: transparent;
	color: #ffffff;
    font-family: "FiraCode Nerd Font";
    font-size: 14px;
    padding: 0 5px;
}

#waybar {
	background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    margin: 8px;
    padding: 8px;
}

tooltip {
    background-color: #000000; /* Dark background */
    color: #ffffff; /* White text */
    padding: 10px;
    border-radius: 5px;
    font-family: "FiraCode"; /* Customize your font */
    font-size: 14px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button.focused {
	color: #000000;
    background-color: #8839ef;
}

#workspaces button.focused label {
    color: #000000;
}

#window label {
    color: #8839ef;
    font-weight: bold;
    font-size: 16px;
}

#clock {
    color: #04a5e5;
    font-weight: bold;
    font-size: 16px;
}

#custom-arcanearena {
    font-weight: bold;
    font-size: 16px;
}
#custom-arcanearena.git-behind {
    color: #df8e1d;
}
#custom-arcanearena.git-clean {
    color: #04a5e5;
}
#custom-arcanearena.git-ahead {
    color: #40a02b;
}
#custom-arcanearena.git-error {
    color: #d20f39;
}

#custom-dots {
    font-weight: bold;
    font-size: 16px;
}
#custom-dots.git-behind {
    color: #df8e1d;
}
#custom-dots.git-clean {
    color: #04a5e5;
}
#custom-dots.git-ahead {
    color: #40a02b;
}
#custom-dots.git-error {
    color: #d20f39;
}

#custom-clipboard {
    color: #04a5e5;
    font-weight: bold;
    font-size: 16px;
    margin: 0 5px;
}

#bluetooth {
    color: #04a5e5;
    font-weight: bold;
    font-size: 16px;
    margin: 0 5px;
}

#network {
    color: #04a5e5;
    font-weight: bold;
    font-size: 16px;
    margin: 0 2px;
}

#pulseaudio {
    color: #04a5e5;
    font-weight: bold;
    font-size: 16px;
    margin: 0 5px;
}

#battery {
    color: #04a5e5;
    font-weight: bold;
    font-size: 16px;
    margin: 0 5px;
}